*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
section.section_profile{
    background-image:url('images/1567666.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    height: 663px;
    box-shadow: inset 0px -66px 0px 0 #464444;
}
.profile_pic{
    width: 600px;
    float: left;
    margin-left: 114px;
    padding-top: 18px;
}
.profile_pic img{
    transform: rotateY(180deg);
    border-right: 2px solid #323e52;
    border-top: 2px solid #323e52;
}
.profile_heading{
    width: 500px;
    color: #fff;
    float:left;
    padding-top: 22%;
    line-height: 60px;
}
.profile_heading h1:nth-child(1){
    font-size: 50px;
    font-weight: 500;
}
.profile_heading h1:nth-child(2){
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
.profile_heading h1{
    border-left: 3px solid #ffee73;
    padding-left: 17px;
}
.profile_heading h3{
    float: right;
    font-weight: 400;
    margin-right:15px;
    color: #ffee73;
    text-transform: uppercase;
    line-height: 15px;
}